<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a1539d47-ba6e-47a9-9eca-f04c33733170" name="Insurance Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a1539d47-ba6e-47a9-9eca-f04c33733170fileName">Insurance-Test-Suite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>